
.container{
    
    padding: 8px;
    margin: 15px 5px 5px 5px;
    flex-wrap: wrap;
    flex: 10px;
}

.container2{
    background-color:lightgrey ;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap
}
.card-hotel{
    background-color:lightgrey ;
    margin: 5px;
    flex: 1 150px;
    flex-wrap: wrap
}

.boton-reserva{
    width: 100% ;
    vertical-align: text-bottom;
}
.footer{
padding: 30px 15px 5px 30px
}
